.loader-container {
  margin-top: 3.5em;
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #42b983; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}